<p id="notice"><%= notice %></p>
<% provide(:title, "Log in") %>
<% provide(:name, "Log in") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: log_in_path, class: "form-signin") do |f| %>

      <%= f.label :username, class: "sr-only" %>
      <%= f.text_field :username, class: "form-control", placeholder: "Username" %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
  </div>
</div>
