<% provide(:title, @task.name) %>
<p id="notice"><%= notice %></p>
<div class="row">
    <section class="task_info">
      <h1><%= @task.name %></h1>
      <h2><%= @task.activity %></h2>
    </section>
  <div>

    <table class="showcase">
    <thead>
      <tr>
        <th>Project</th>
        <th>Author</th>
      </tr>
    </thead>
  
    <tbody>
      <% @task.projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project_path(project) %></td>
          <td><%= User.find_by(id: project.author_id).name%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <div class="bttn">
    <%= button_to 'Edit', edit_task_path(@task), method: :get, class: 'btn btn-primary' %>
    <%= button_to 'Back', tasks_path, method: :get, class: 'btn btn-primary' %>
  </div>
  </div>
</div>
