<% provide(:title, @task.name) %>
<p id="notice"><%= notice %></p>
<div class="row">
  <aside class="col-md-4">
    <section class="task_info">
        <%= @task.name %>
        <%= @task.activity %>
    </section>
  </aside>
  <div class="col-md-8">
    <div>

    <table>
    <thead>
      <tr>
        <th>Project</th>
        <th>Author</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @task.projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project_path(project) %></td>
          <td><%= User.find_by(id: project.author_id).name%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <%= link_to 'Back', tasks_path %>
  <%= link_to 'Edit', edit_task_path(@task) %>
  <%= link_to 'Create new Task', new_task_path %>
  </div>
</div>
