<% provide(:title, @group.name) %>
<p id="notice"><%= notice %></p>
<div class="row">
  <aside class="col-md-4">
    <section class="group_info">
      <h1>
        <span><%= image_tag @group.icon.url if @group.icon? %></span>
        <%= @group.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <div>
    Projects belonging to <%= @group.name %>
    <ul>
      <% @group.projects.each do |project| %>
        <li><%= link_to project.name, project_path(project) %></li>
      <% end %>
    </ul>
    </div>

    <div>
       <%= link_to 'Create new Group', new_group_path %> 
    </div>

  </div>
</div>
