<% provide(:title, @user.username) %>
<p id="notice"><%= notice %></p>
<div class="">
  <div class="user_info">
    <div class="profile-image">
      <span><%= image_tag @user.picture.url if @user.picture? %></span>
    </div>
    <%= @user.name %>
    <%=  @user.lastname %>
  </div>


  <div class="">
    <ul class="list-group">
      <li class="list-group-item">
        <div>
          <%= link_to 'All my Projects', projects_path %> 
        </div>
      </li>
      <li class="list-group-item">
        <div>
          <%= link_to 'All Projects Shared with me', second_index_path %> 
        </div>
      </li>
      <li class="list-group-item">
        <div>
          <%= link_to 'All my Groups', groups_path %>  
        </div>
      </li>
      <li class="list-group-item">
        <div>
          <%= link_to "Account Settings", edit_user_path(current_user) %>  
        </div>
      </li>
      
    </ul>    
  </div>
</div>

