<p id="notice"><%= notice %></p>
<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <span><%= image_tag @user.picture.url if @user.picture? %></span>
        <%= @user.username %>
      </h1>
    </section>
  </aside>
</div>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
