<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :worked_hours %>
    <%= form.text_field :worked_hours %>
  </div>

  <% Group.all.each do |group| %>
    <%= check_box_tag "project[group_ids][]", group.id, @project.group_ids.include?(group.id) %>
    <%= group.name %>
    <br />
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

