<% provide(:title, "Projects") %>
<p id="notice"><%= notice %></p>

<h2>Grouped Projects</h2>

<div class="total container">
  Total Hours spent on projects <%= total_int_to_time%>
</div>

<table class="project container">

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td class="icon">
        <% project.groups.each do |group|  %>
        <%= image_tag group.icon.url if group.icon? %>
        <% end %>
        
        </td>

        <td class="pjname"><%= project.name %>
        <p class="date"><%= project.created_at.to_date %></p>
        </td>
        <td class="hours"><%=int_to_time project.worked_hours%></td>
        <td class="links"><%= link_to 'Show', project %></td>
        <td class="links"><%= link_to 'Edit', edit_project_path(project) %></td>
        <td class="links"><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add new Project', new_project_path %>

<%= link_to 'Back', current_user %>

