<% provide(:title, "Projects") %>
<p id="notice"><%= notice %></p>

<% provide(:name, "Grouped Projects") %>

<div class="total container">
  Total Hours spent on projects <span class="tym"><%= total_int_to_time%></span>
</div>

<table class="project container">

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td class="icon">
        <% project.groups.each do |group|  %>
        <%= image_tag group.icon.url if group.icon? %>
        <% end %>
        
        </td>

        <td class="pjname"><%= link_to "#{project.name}", project %>
        <p class="date"><%= project.created_at.strftime("%b %d, %Y") %></p>
        </td>
        <td class="hours"><%=int_to_time project.worked_hours%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="bttn">
  <%= button_to 'Add new Project', new_project_path, method: :get, class: 'btn btn-primary' %>
  <%= button_to 'Back', current_user, method: :get, class: 'btn btn-primary' %>
<div>
