<% provide(:title, "Projects") %>
<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<p>
  Total Hours spent on projects <%= total_int_to_time%>
</p>

<table>
  <thead>
    <tr>
      <th>Group Icon</th>
      <th>Name</th>
      <th>Worked Hours</th>
      <th>Date Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
      <%
=begin %>
<td><%= image_tag project.groups.icon.url if project.groups.icon? %></td>
<%
=end %>
<td>
<% project.groups.each do |group|  %>
<%= image_tag group.icon.url if group.icon? %>
<% end %>

</td>
        <td><%= project.name %></td>
        <td><%=int_to_time project.worked_hours%></td>
        <td><%= project.created_at.to_date %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>

