<% provide(:title, @project.name) %>
<p id="notice"><%= notice %></p>
<div class="row">
    <section class="project_info">
      <h1>
        <%= @project.name %>
      </h1>
    </section>
  <div >

      <table class="showcase">
        <thead>
          <tr>
            <th>Task</th>
            <th>Activity</th>
          </tr>
        </thead>
    
        <tbody>
          <% @project.tasks.each do |task| %>
            <tr>
              <td><%= task.name %></td>
              <td><%= task.activity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <br>
          
  <div class="bttn">
  <%= button_to 'Destroy', @project, method: :delete, class: 'btn btn-primary', data: { confirm: 'Are you sure?' } %>  
  <%= button_to 'Edit', edit_project_path(@project), method: :get, class: 'btn btn-primary' %>
  <%= button_to 'Back', projects_path, method: :get, class: 'btn btn-primary' %>
  </div>
  </div>
</div>
